.instructionNav {
	color: #504a4a85;
	position: absolute;
	font-size: xx-large;
	top: 44%;
	cursor: pointer;
	transition: color 1s;
	-webkit-transition: color: 1s;
}

.instructionNav:hover {
	color: #504a4a;
	transition: color 1s;
	-webkit-transition: color: 1s;
}

#instructionNav_prev {
	left: 3%;
}

#instructionNav_next {
	right: 3%;
}

#instructions .close.icon {
	top: 0;
	right: 0;
	color: black;
}

#startBtnSegment {
	height: 100%;
	text-align: center;
}

#titleImage{
	left: 44%;
	margin-top: 15%;
}

#title {
	margin-top: 1%;
}

#startBtn {
	margin-top: 1%;
}

#contentSegment {
	height: 100%;
}

#promptSegment {
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: xx-large;
}

#countdownBox {
	text-align: right;
}

.hidden {
	display: none;
}

#instagramReactions {
	margin-left: 5%;
	margin-right: 5%;
	font-size: large;
	text-align: center;
}

#snapchatReactions {
	margin-left: 5%;
	margin-right: 5%;
	font-size: large;
	text-align: center;
}

#facebookReactions {
	margin-left: 5%;
	margin-right: 5%;
	font-size: large;
	text-align: center;
}

#resultSegment {
	margin-left: 10%;
	margin-right: 10%;
}